// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$main-color: #E8591E;
$steligence-bg: #e0e0e0;
$steligence-gray: #313f44;
$steligence-orange: #e84c0e;
$steligence-light: #F4F0EB;

$steligence-fundacao: #AF945B;
$steligence-piso: #709181;
$steligence-estrutura: #47B6E0;
$steligence-laje: #E66D4C;
$steligence-vedacao: #9A3147;
$steligence-envelope: #734E7B;

$dark-grey: #5b5a5e;
$dark-yellow: #f1cf00;
$light-grey: #eaeaea;
$white: #ffffff;

