// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
// Define fonts for body and headers

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url("FontFile.eot");
//   src: font-url("FontFile.eot?#iefix") format("embedded-opentype"),
//        font-url("FontFile.woff") format("woff"),
//        font-url("FontFile.ttf") format("truetype")
// }
// $my-font: "Font Name";

@font-face {
  font-family: 'Vagrounded Thin';
  src: font-url('VAGRoundedStd-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Vagrounded Light';
  src: font-url('VAGRoundedStd-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Vagrounded Bold';
  src: font-url('VAGRoundedStd-Bold.otf') format('opentype');
}


@font-face {
  font-family: 'MinionPro';
  src: font-url('MinionPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica';
  src: font-url('Helvetica.ttc') format('truetype');
}

$vagrounded-thin: "Vagrounded Thin", "Helvetica", "Open Sans";
$vagrounded-regular: "Vagrounded Light", "Helvetica", "Open Sans";
$vagrounded-bold: "Vagrounded Bold", "Helvetica", "Open Sans";

$body-font: $vagrounded-regular;
$headers-font: $vagrounded-regular;


