.steligence-container{
  margin-left: calc(50vw - 450px;);
  width: 900px;
}

@media(max-width: 900px){
  .steligence-container{
    margin-left: 0;
    width: auto;
  }
}

// INICIO BANNER PRINCIPAL -->
.banner-carousel{
  height: 600px;
}
#main-banner {
  color: white;
  text-align: center;
  width: 100%;
  height: 600px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.spacer{
  height: 40px;
}

.slogan{
  margin-left: 124px;
  margin-bottom: 0;
  text-align: left;
  width: 60px;
  font-size: 12px;
}

.product-title{
  padding: 0 14%;
  margin-top: 8%;
  width: 100%;
  text-align: left;
  h1{
    position: relative;
    font-weight: bold;
  }
}
.registered{
  position: absolute;
  top: 4px;
  left: 188px;
  font-size: 12px;
}
.small-registered{
  position: absolute;
  top: 0;
  left: 172px;
  font-size: 12px;
}

.space-title{
  margin-top: 16%;
  margin-left: 28%;
}

.space-line{
  display: flex;
  justify-content: space-between;
  margin: 4% 0;
  padding: 0 14%;
  div{
    border-style: solid;
    border-width: 3px;
    height: 0;
    width: 16px
  }
  span{
    width: 24px;
  }
  .large-drop{
    width: 72px;
  }
}

.mobile-hidden{
  display: none;
}

.desktop-hidden{
  display: none;
}

.line-recolor{
  div{
    border-color: $steligence-orange;
  }
}

.description-text{
  text-align: justify;
  word-spacing: 0;
  padding: 0 14%;
  font-size: 12px;
}

.quote{
  margin-top: 12%;
  margin-left: 50%;
  text-align: right;
  width: 50%;
  padding-right: 7%;
  color: $steligence-gray;
  h5{
    color: $steligence-orange;
    font-size: 1.1rem;
  }
  p:last-of-type{
    font-size: 10px;
  }
}

.button-position{
  padding: 0 14%;
  display: flex;
  justify-content: flex-end;
}

.more-info{
  border-style: solid;
  border-width: thin;
  border-radius: 8px;
  width: 120px;
}

.button-position-quote{
  padding: 0 7%;
  display: flex;
  justify-content: flex-end;
}

.more-info-color{
  border-style: solid;
  border-width: thin;
  border-radius: 8px;
  width: 120px;
  color: $steligence-gray;
}

.sub-header{
  margin: 0 14%;
  margin-top: 16%;
  h5{
    text-align: left;
    position: relative;
  }
}

// CAROUSEL
.carousel{
  width: 100%;
}

.slick-slider{
  margin: 0;
}

.slick-arrow{
  z-index: 1;
  opacity: 1;
  transition: 0.5s;
}

.slick-disabled{
  opacity: 0;
  transition: 0.5s;
}

.slick-dots{
  bottom: 16px;
}

.slick-dots li button:before{
  color: white;
  opacity: 1;
  font-size: 12px;
}

.slick-dots li.slick-active button:before{
  color: $main-color;
  opacity: 1;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 4%;
  background: image-url('left-arrow.svg');
  height: 30px;
  width: 15px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 4%;
  background: image-url('right-arrow.svg');
  height: 30px;
  width: 15px;
}

// FIM BANNER PRINCIPAL -->

// INICIO PILARES -->
.cornerstone-carousel{
  background: $steligence-bg;
}

#pilares {
 width: 100%;
 text-align: center;
 padding: 14%;
 img{
  width: 200px;
 }
}
.cornerstone-topic{
  display: inline-block;
  border-style: solid;
  border-radius: 8px;
  padding: 2px;
  margin: 6px;
  border-color: $steligence-gray;
  border-width: thin;
  color: $steligence-orange;
  font-size: 14px;
  font-weight: bold;
}
.cornerstone-wrapper{
  position: relative;
}
.cornerstone-image-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 16% 0;
}
.cornerstone-text{
  font-weight: lighter;
}
.white-stripes{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.orange-stripes{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
// FIM PILARES -->

// INICIO DIFERENCIAIS -->
.differential-wrapper{
  padding: 7%;
  padding-bottom: 0;
  background-image: image-url('background-differentials');
  background-position: 34% 80%;
  background-repeat: no-repeat;
  background-color: $steligence-light;
}

.differential-10{
  margin-left: -8px;
  height: 144px;
  background-image: image-url('background-10');
  background-size: contain;
  background-repeat: no-repeat;
  p{
    line-height: 1.5rem;
    font-size: 12px;
    margin-left: 100px;
    margin-top: 30px;
    width: 100px;
  }
}

.differential-main-title{
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.small-slogan{
  margin: 0;
  margin-left: 76px;
  font-size: 8px;
  width: 30px;
  font-weight: bold;
}

.small-product-name{
  font-size: 24px;
  color: $steligence-orange;
  position: relative;
}

.micro-registered{
  font-size: 10px;
  position: absolute;
  top: 0;
  right: -4px;
}

#diferenciais {
  margin-top: 32px;
  width: 100%;
  height: 440px;
  p{
    width: 144px;
  }
}

.differential-title{
  color: $steligence-orange;
  font-size: 16px;
  font-weight: bold;
}

.differential-text{
  font-size: 12px;
}

.differential-stripe{
  margin-top: 8px;
  width: 100%;
  border-style: solid;
  border-width: 4px;
  border-color: $steligence-orange;
}

.differential-image{
  width: 144px;
  height: 144px;
  object-fit: cover;
}
// FIM DIFERENCIAIS -->

// INICIO CATALOGO -->
.catalog-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $steligence-bg;
}

#catalogo{
  margin-top: -24px;
  width: 300px;
  height: 400px;
  background-position: 50% 50%;
  background-image: image-url('building.png');
  background-repeat: no-repeat;
  position: relative;
  min-width: 300px;
}

.catalog-description{
  display: flex;
  width: 100%;
  padding: 0 12px;
  img{
    width: 20px;
    height: 23px;
  }
  p{
    margin: 0;
    flex: 0 0 auto;
  }
}

.catalog-click-layer{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fundacao{
  position: absolute;
  opacity: 0;
  right: 64px;
  bottom: 27px;
  transition: 0.5s ease;
}

.piso{
  position: absolute;
  opacity: 0;
  right: 73px;
  bottom: 45px;
  transition: 0.5s ease;
}

.estrutura{
  position: absolute;
  opacity: 0;
  right: 76px;
  bottom: 87px;
  transition: 0.5s ease;
}

.laje{
  position: absolute;
  opacity: 0;
  right: 109px;
  bottom: 220px;
  transition: 0.5s ease;
}

.vedacao{
  position: absolute;
  opacity: 0;
  right: 89px;
  bottom: 266px;
  transition: 0.5s ease;
}

.envelope{
  position: absolute;
  opacity: 0;
  right: 128px;
  bottom: 151px;
  transition: 0.5s ease;
}

.catalog-text-box{
  width: 100%;
  height: 310px;
  position: relative;
  background-color: $steligence-bg;
  p{
    margin: 0 4px;
    text-align: justify;
  }
  .slick-dots{
    bottom: 0;
  }
}

.catalog-intro{
  padding: 8px;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.catalog-dash{
  margin-top: 4px;
  flex: 1 0 auto;
  padding: 4px;
  padding-right: 0;
  opacity: 0.4;
}
.orange-color{
  color: $steligence-orange;
}
.fundacao-color{
  color: $steligence-fundacao;
}
.piso-color{
  color: $steligence-piso;
}
.estrutura-color{
  color: $steligence-estrutura;
}
.laje-color{
  color: $steligence-laje;
}
.vedacao-color{
  color: $steligence-vedacao;
}
.envelope-color{
  color: $steligence-envelope;
}

.catalog-dash-line{
  border-top-style: dashed;
  height: 1px;
  margin-bottom: 1px;
  width: 100%;
  border-width: thin;
}

.catalog-fundacao{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.fundacao-carousel{
  max-width: 100%;
  padding: 8px;
  width: 100vw;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-fundacao;
    }
  }
}

.catalog-piso{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.piso-carousel{
  max-width: 100%;
  padding: 8px;
  width: 100vw;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-piso;
    }
  }
}

.catalog-estrutura{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.estrutura-carousel{
  max-width: 100%;
  padding: 8px;
  width: 100vw;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-estrutura;
    }
  }
}


.catalog-laje{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.laje-carousel{
  max-width: 100%;
  padding: 8px;
  width: 100vw;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-laje;
    }
  }
}

.catalog-vedacao{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.vedacao-carousel{
  max-width: 100%;
  padding: 8px;
  width: 100vw;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-vedacao;
    }
  }
}

.catalog-envelope{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.envelope-carousel{
  max-width: 100%;
  padding: 8px;
  width: 100vw;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-envelope;
    }
  }
}

#out-event{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
}

#fundacao-event{
  position: absolute;
  width: 36px;
  height: 57px;
  bottom: 22px;
  right: 65px;
}

#piso-event{
  position: absolute;
  width: 145px;
  height: 65px;
  bottom: 49px;
  left: 30px;
}

#estrutura-event{
  position: absolute;
  width: 22px;
  height: 173px;
  bottom: 84px;
  right: 71px;
}

#laje-event{
  position: absolute;
  width: 105px;
  height: 52px;
  top: 125px;
  left: 73px;

}

#vedacao-event{
  position: absolute;
  width: 37px;
  height: 49px;
  right: 87px;
  top: 87px;
}

#envelope-event{
  position: absolute;
  width: 29px;
  height: 56px;
  bottom: 150px;
  right: 126px;
}

.show-layer{
  opacity: 0.8;
  transition: 0.5s ease;
  pointer-events: auto;
}

.catalog-intro{
  p{
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
  }
}

// FIM CATALOGO -->

// INICIO DEPOIMENTOS -->
#depoimentos {
  height: 487px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.deposition-name{
  color: $steligence-orange;
  font-size: 20px;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 4px;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-right: 85px;
}
.deposition-title{
  color: $steligence-orange;
  font-size: 14px;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 4px;
  display: inline-block;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.wilmotte{
  background-image: image-url('Wilmotte-JM.png');
  background-repeat: no-repeat;
  background-position: 60% 50%;
  color: white;
  div{
    padding: 16px;
    height: 100%;
    width: 55%;
    p{
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.grohmann{
  background-image: image-url('Grohmann-M.png');
  background-repeat: no-repeat;
  background-position: 70% 50%;
  div{
    padding: 16px;
    height: 100%;
    width: 55%;
    p{
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.ludkovsky{
  background-image: image-url('Ludkovsky-G.png');
  background-repeat: no-repeat;
  background-position: 65% 50%;
  div{
    padding: 16px;
    height: 100%;
    width: 55%;
    p{
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.depositions-text-box{
  width: 100%;
  height: 100%;
}
// FIM DEPOIMENTOS -->

// INICIO CONTATO -->
#contato {

}
.contact-options-wrapper{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-options{
  text-align: center;
  width: 900px;
  display: flex;
  font-size: 16px;
  color: $steligence-orange;
  justify-content: space-around;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: $steligence-bg;
  p{
    padding: 16px;
    margin: 0;
  }
}
// FIM CONTATO -->

// LAYOUT DESKTOP
@media(min-width: 576px){
  .mobile-hidden{
    display: block;
  }

  .desktop-column{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .desktop-row-wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  .desktop-column-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    .spacer{
      height: 0 !important;
    }
  }

  // BANNER
  .desktop-hidden{
    display: none;
  }

  .banner-carousel{
    height: 500px;
  }

  #main-banner{
    height: 500px;
    display: flex !important;
    .product-title{
      .slogan{
        margin-left: 228px;
        font-size: 18px;
      }
      h1{
        font-size: 4rem;
        .registered{
          left: 300px;
        }
      }
    }
    .description-text{
      font-size: 16px;
      padding: 0 32px;
    }
    .spacer{
      height: 200px;
    }
    .quote{
      width: 80%;
      margin-left: 100px;
      text-align: left;
    }

    .space-title{
      margin-left: 0;
    }
    .sub-header{
      h5{
        font-size: 24px;
      }
    }
    .small-registered{
      left: 204px;
    }

  }


  .reverse-desktop{
    flex-direction: row-reverse;
  }

  // PILARES
  #pilares{
    display: flex !important;
    height: 540px;
    .desktop-column{
      display: inline-block;
      text-align: left;
    }
  }

  // DIFERENCIAIS
  #diferenciais{

  }
  .differential-wrapper{
    .desktop-row-wrapper{
      flex-direction: row;
    }
  }
  .differential-10{
    margin-top: 30%;
    height: 200px;
    p{
      font-size: 20px;
      margin-left: 150px;
      margin-top: 44px;
    }
  }
  .differential-main-title{
    .small-product-title{
      display: none;
    }
  }
}
