.steligence-container{
  margin-left: calc(50% - 450px;);
  width: 900px;
}

#main-video {
  width: 100%;
}

@media(max-width: 900px){
  .steligence-container{
    margin-left: 0;
    width: auto;
  }
}

.registered {
  font-size: 70% !important;
  vertical-align: super !important;
  h5{
    font-size: 70% !important;
    vertical-align: super !important;
  }
}

#fale-conosco {
  display: none;
}

// INICIO BANNER PRINCIPAL -->
.banner-carousel{
  height: 600px;
}
#main-banner {
  color: white;
  text-align: center;
  width: 100%;
  height: 600px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.banner1-logo{
  width: 80%;
  padding: 0 14%;
  margin-top: 100px;
}

.banner-02-bg{
  background: image_url('banner-03-alt.png');
  background-position: 60% 0 !important;
}

.banner3-logo{
  width: 80%;
  padding: 0 14%;
  margin-top: 100px;
  margin-left: 20%;
}

.spacer{
  height: 40px;
}

.space-title{
  margin-top: 16%;
  margin-left: 28%;
}

.space-line{
  display: flex;
  justify-content: space-between;
  margin: 4% 0;
  padding: 0 14%;
  div{
    border-style: solid;
    border-width: 3px;
    height: 0;
    width: 16px
  }
  span{
    width: 24px;
  }
  .large-drop{
    width: 72px;
  }
}

.mobile-hidden{
  display: none;
}

.desktop-hidden{
  display: block;
}

.line-recolor{
  div{
    border-color: $steligence-orange;
  }
}

.description-text{
  text-align: left;
  word-spacing: 0;
  padding: 0 14%;
  font-size: 12px;
}

.quote{
  margin-top: 12%;
  margin-left: 50%;
  text-align: right;
  width: 50%;
  padding-right: 7%;
  color: $steligence-gray;
  h5{
    color: $steligence-orange;
    font-size: 1.1rem;
  }
  p:last-of-type{
    font-size: 10px;
  }
}

.button-position{
  padding: 0 14%;
  display: flex;
  justify-content: flex-end;
}

.more-info{
  border-style: solid;
  border-width: thin;
  border-radius: 8px;
  width: 120px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color:white;
    }
  }
}

.button-position-quote{
  padding: 0 7%;
  display: flex;
  justify-content: flex-end;
}

.more-info-color{
  border-style: solid;
  border-width: thin;
  border-radius: 8px;
  width: 120px;
  color: $steligence-gray;
    a {
    text-decoration: none;
    color: $steligence-gray;
    &:hover {
      color:$steligence-gray;
    }
  }
}

.sub-header{
  margin: 0 14%;
  margin-top: 16%;
  h5{
    text-align: left;
    position: relative;
  }
}

// CAROUSEL
.carousel{
  width: 100%;
}

.slick-slider{
  margin: 0;
}

.slick-arrow{
  z-index: 1;
  opacity: 1;
  transition: 0.5s;
}

.slick-disabled{
  opacity: 0;
  transition: 0.5s;
}


.slick-dots{
  bottom: 50px;
}

.slick-dots li button:before{
  color: white;
  opacity: 1;
  font-size: 12px;
}

.slick-dots li.slick-active button:before{
  color: $main-color;
  opacity: 1;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 4%;
  background: image-url('left-arrow.svg');
  height: 30px;
  width: 15px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 4%;
  background: image-url('right-arrow.svg');
  height: 30px;
  width: 15px;
}

// FIM BANNER PRINCIPAL -->

// INICIO PILARES -->
#pilares {
 width: 100%;
 text-align: center;
 padding: 8%;
 margin-bottom: 40px;
}
.cornerstone-topic{
  display: inline-block;
  border-style: solid;
  border-radius: 8px;
  padding: 2px;
  margin: 6px;
  margin-left: 0;
  border-color: $steligence-gray;
  border-width: thin;
  color: $steligence-orange;
  font-size: 14px;
  font-family: $vagrounded-bold;
}
.cornerstone-wrapper{
  background-color: $steligence-catalog;
  position: relative;
}
.cornerstone-image-wrapper-intro{
  height: 150px;
  margin-top: 130px;
  margin-left: 70px;
  img{
    object-fit: scale-down;
    padding-right: 50px;
  }
  display: flex;
  justify-content: center;
}
.cornerstone-intro{

    font-size: 19px;
    width: 264px;
    line-height: 1.6em;
    margin: 30px auto;
}

.cornerstone-image-wrapper{
  img{
    height: 200px;
  }
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.cornerstone-text{
  width: 100%;
  padding: 40px 10px;
  font-family: $vagrounded-regular;
}

.white-stripes{
  position: absolute;
  z-index: 1;
}
.orange-stripes{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
// FIM PILARES -->

// INICIO DIFERENCIAIS -->
.differential-wrapper{
  padding: 7%;
  background-image: image-url('differential-bg.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-color: $steligence-light;
}

.differential-10{
  margin-left: -8px;
  height: 144px;
  background-image: image-url('background-10');
  background-size: contain;
  background-repeat: no-repeat;
  p{
    line-height: 1.5em;
    font-size: 12px;
    margin-left: 100px;
    margin-top: 30px;
    width: 90px;
    font-family: $vagrounded-thin;

  }
}

.differential-main-title{
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.small-slogan{
  margin: 0;
  margin-left: 76px;
  font-size: 8px;
  width: 30px;
  font-weight: bold;
}

.small-product-name{
  font-size: 24px;
  color: $steligence-orange;
  position: relative;
}

.micro-registered{
  font-size: 10px;
  position: absolute;
  top: 0;
  right: -4px;
}

#diferenciais {
  margin-top: 32px;
  width: 100%;
  height: 440px;
  p{
    width: 144px;
  }
}

.differential-title{
  color: $steligence-orange;
  font-size: 14px;
  margin-top: 10px;
  font-family: $vagrounded-regular;
  line-height: 1.1em;
  letter-spacing: 1px;
  height: 42px;
}

.differential-text{
  font-size: 12px;
}

.differential-stripe{
  margin-top: 8px;
  width: 100%;
  border-style: solid;
  border-width: 4px;
  border-color: $steligence-orange;
}

.differential-image{
  width: 144px;
  height: 144px;
  object-fit: cover;
}
// FIM DIFERENCIAIS -->

// INICIO CATALOGO -->
.catalog-row-wrapper{
  background-image: image-url('building.png');
  background-position: 60% 50%;
}

.catalog-event-click {
  cursor: pointer;
}

.catalog-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

#catalogo{
  height: 484px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 330px;
}

#intro-margin{
  p{
    // padding: 0 12px;
    padding-bottom: 32px;
    font-size: 18px;
  }
}

.catalog-logo{
  width: 180px;
  margin-left: 45%;
}

.catalog-description{
  display: flex;
  width: 100%;
  padding: 0 12px;
  img{
    width: 20px;
    height: 23px;
  }
  p{
    margin: 0;
    flex: 0 0 auto;
  }
}

.lock-bg{
  position: absolute;
  background-position: center center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fundacao{
  background-image: image-url('fundacao-bg.png');
  opacity: 0;
  transition: 0.5s ease;
  background-position: 60% 50%;
}

.piso{
  background-image: image-url('piso-bg.png');
  opacity: 0;
  transition: 0.5s ease;
  background-position: 60% 50%;
}

.estrutura{
  background-image: image-url('estrutura-bg.png');
  opacity: 0;
  transition: 0.5s ease;
  background-position: 60% 50%;
}

.laje{
  background-image: image-url('laje-bg.png');
  opacity: 0;
  transition: 0.5s ease;
  background-position: 60% 50%;
}

.vedacao{
  background-image: image-url('vedacao-bg.png');
  opacity: 0;
  transition: 0.5s ease;
  background-position: 60% 50%;
}

.envelope{
  background-image: image-url('envelope-bg.png');
  opacity: 0;
  transition: 0.5s ease;
  background-position: 60% 50%;
}

.catalog-text-box{
  width: 100%;
  height: 320px;
  padding-top: 500px;
  p{
    margin: 0 4px;
    text-align: left;
  }
  .slick-dots{
    bottom: 0;
  }
}

.catalog-intro{
  padding: 8px;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.catalog-dash{
  margin-top: 4px;
  flex: 1 0 auto;
  padding: 4px;
  padding-right: 0;
  opacity: 0.4;
}
.orange-color{
  color: $steligence-orange;
}
.fundacao-color{
  color: $steligence-fundacao;
}
.piso-color{
  color: $steligence-piso;
}
.estrutura-color{
  color: $steligence-estrutura;
}
.laje-color{
  color: $steligence-laje;
}
.vedacao-color{
  color: $steligence-vedacao;
}
.envelope-color{
  color: $steligence-envelope;
}

.catalog-dash-line{
  border-top-style: dashed;
  height: 1px;
  margin-bottom: 1px;
  width: 100%;
  border-width: thin;
}

.catalog-fundacao{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.fundacao-carousel{
  max-width: 100%;
  padding: 8px;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-fundacao;
    }
  }
}

.catalog-piso{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.piso-carousel{
  max-width: 100%;
  padding: 8px;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-piso;
    }
  }
}

.catalog-estrutura{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.estrutura-carousel{
  max-width: 100%;
  padding: 8px;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-estrutura;
    }
  }
}


.catalog-laje{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.laje-carousel{
  max-width: 100%;
  padding: 8px;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-laje;
    }
  }
}

.catalog-vedacao{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.vedacao-carousel{
  max-width: 100%;
  padding: 8px;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-vedacao;
    }
  }
}

.catalog-envelope{
  max-width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.envelope-carousel{
  max-width: 100%;
  padding: 8px;
  font-size: 12px;
  height: 280px;
  div{
    p:nth-of-type(1){
      font-size: 14px;
      font-weight: bold;
      color: $steligence-envelope;
    }
  }
}

.catalog-click-layer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 100;
}

#out-event{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
}

#fundacao-event{
  position: absolute;
  width: 60px;
  height: 70px;
  top: 80%;
  left: 211px;
}

#piso-event{
  position: absolute;
  width: 164px;
  height: 100px;
  bottom: 10%;
  left: -18px;
}

#estrutura-event{
  position: absolute;
  width: 22px;
  height: 230px;
  top: 30%;
  left: 232px;
}

#laje-event{
  position: absolute;
  width: 120px;
  height: 60px;
  top: 27%;
  left: 55px;
}

#vedacao-event{
  position: absolute;
  width: 45px;
  height: 50px;
  top: 16%;
  left: 192px;
}

#envelope-event{
  position: absolute;
  width: 40px;
  height: 70px;
  top: 45%;
  left: 150px;
}

.set-fundacao{
  background-image: image-url('fundacao-bg.png');
}

.show-layer{
  opacity: 1;
  transition: 0.5s ease;
  pointer-events: auto;
}

.show-layer-hover{
  opacity: 0.5;
  transition: 0.5s ease;
  pointer-events: auto;
}

.catalog-intro{
  padding: 0 8px;
  p{
    font-size: 14px;
    margin-top: 20px;
  }
}

.tap-sign{
  pointer-events: none;
  text-align: right;
  position: absolute;
  left: 250px;
  top: 40px;
  color: $steligence-orange;
  font-size: 30px;
  p{
    width: 50px;
    text-align: right;
    display: inline-block;
    font-size: 12px;
  }
}

.icon{
  transition: 1s;
}

.move-icon{
  transform: translate(-15px, 0);
  transition: 1s;
}

// FIM CATALOGO -->

// INICIO DEPOIMENTOS -->
#depoimentos {
  height: 705px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.deposition-name{
  color: $steligence-orange;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 0;
  display: inline-block;
  padding: 0;
  margin-right: 100%;
}
.deposition-title{
  color: $steligence-orange;
  font-size: 12px !important;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 0;
  display: inline-block;
  padding: 0;

}

.wilmotte{
  background-image: image-url('Wilmotte-JM-mobile.png');
  background-repeat: no-repeat;
  background-position: 55% 50%;
  color: white;
  div{
    padding: 16px;
    padding-top: 260px;
    padding-left: 33px;
    height: 100%;
    width: 56%;
    p{
      &:first-child{
        margin-bottom: 8px;
      }
      font-size: 18px;
    }
    div{
      padding: 0;
      height: 0;
    }
  }
}

.grohmann{
  background-image: image-url('Grohmann-M-mobile.png');
  background-repeat: no-repeat;
  background-position: 57% 50%;
  div{
    padding: 15px;
    padding-top: 55px;
    padding-left: 33px;
    height: 100%;
    width: 70%;
    p{
      &:first-child{
        margin-bottom: 8px;
        color: $steligence-gray;
      }
      font-size: 18px;
    }
    div{
      padding: 0;
      height:10px;
    }
  }
}

.ludkovsky{
  background-image: image-url('Ludkovsky-G-mobile.png');
  background-repeat: no-repeat;
  background-position: 54% 50%;
  div{
    padding: 15px;
    padding-top: 30px;
    padding-left: 33px;
    height: 100%;
    width: 53%;
    p{
      &:first-child{
        margin-bottom: 8px;
      }
      font-size: 18px;
      width: 96%;
    }
    div{
      padding: 0;
      height: 0;
    }
  }
}

.depositions-text-box{
  width: 100%;
  height: 100%;
}
// FIM DEPOIMENTOS -->

// INICIO CONTATO -->
#contato {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 560px;
  padding: 16px;
  background-color: white;
  background-image: image-url('cadastro-bg.png');
  background-size: cover;
  text-align: center;
  h1{
    color: $steligence-gray;
  }
  p{
    margin: 18px 0;
    // margin-bottom: 18px;
    font-size: 24px;
    color: $steligence-orange;
  }
}

.steligence-input {
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(80,80,80,1);
  &::placeholder {
    color: $steligence-orange;
    font-weight: bold;
  }
}

.contact-button{
  background-color: $steligence-orange;
  padding: 8px;
  border-style: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;
}

.contact-button:hover{
  background-color: white;
  border-style: $steligence-orange;
  color: $steligence-orange;
  transition: 0.5s;
}

.contact-options-wrapper{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-options{
  text-align: center;
  width: 900px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: $steligence-orange;
  justify-content: space-around;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: $steligence-bg;
  p{
    padding: 16px;
    margin: 0;
  }
  a{
    text-decoration: none;
    color: $steligence-orange;
  }
}
// FIM CONTATO -->

// LAYOUT DESKTOP
@media(min-width: 576px){
  #fale-conosco {
    display: block;
    position: absolute;
    bottom: 0px;
    right: calc(50vw - 600px);
    z-index: 1000;
    img {
      width: 100%;
      height: 100%;
    }
  }

  #main-video {
    width: auto;
  }

  #inicio {
    position: relative;
    z-index: 500;
  }

  .mobile-hidden{
    display: block;
  }

  .desktop-column{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .desktop-banner{
    flex-direction: row !important;
    margin: 0 calc(50vw - 450px);
  }

  .desktop-banner-reverse{
    margin: 0 calc(50vw - 450px);
  }

  .desktop-row-wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  .desktop-column-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    .spacer{
      height: 0 !important;
    }
  }

  // BANNER
  .desktop-hidden{
    display: none;
  }

  .banner-carousel{
    height: 500px;
  }

  #main-banner{
    height: 500px;
    display: flex !important;
    .description-text{
      font-size: 16px;
      padding: 0 32px;
    }
    .spacer{
      height: 360px;
    }
    .quote{
      width: 80%;
      margin-left: 100px;
      text-align: left;
      h5 {
        font-family: $vagrounded-regular;
      }
    }

    .space-title{
      margin-left: 0;
    }
    .sub-header{
      margin-top: 22%;
      margin-left: 20%;
      h5{
        font-family: $vagrounded-regular;
        font-size: 30px;
      }
    }
    .small-registered{
      left: 204px;
    }

  }

  .banner3-logo{
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    padding: 0 14%;
    margin-top: 100px;
    margin-left: 10%;
  }

  .banner1-logo{
    width: 90%;
    height: 90%;
    margin-top: 80px;
    padding-right: 0;
    object-fit: scale-down;
  }

  .banner-02-bg{
    background: image_url('banner-03.png');
    background-position: 40% 50%;
  }

  .space-line{
    margin: 2% 0 8% 0;
    div{
      border-width: 5px;
    }
  }

  .reverse-desktop{
    flex-direction: row-reverse;
  }

  // PILARES
  .cornerstone-carousel{
    margin: 0 calc(50vw - 450px);
  }

  #pilares{
    display: flex !important;
    height: 485px;
    padding: 3%;
    margin: 0;
    .desktop-column{
      display: inline-block;
      text-align: left;
    }
  }
    .orange-stripes{
      display: none;
    }
    .white-stripes{
      display: none;
    }
  .cornerstone-image-wrapper-intro{
    height: 150px;
    margin-top: 130px;
    margin-left: 70px;
    img{
      object-fit: scale-down;
      width: 100%;
      height: 100%;
    }
    display: flex;
    justify-content: center;
  }
  .cornerstone-intro {
    font-size: 16px;
    width: 220px;
    padding-left: 35px;
    line-height: 1.6em;
    margin-top: 35%;
    margin-left: 20%;
  }

  .cornerstone-wrapper{
    background-image: image-url('cornerstone-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $steligence-catalog;
  }


  // DIFERENCIAIS
  .differential-wrapper{
    .desktop-row-wrapper{
      flex-direction: row;
    }
  }
  .differential-10{
    margin-top: 30%;
    margin-left: 65px;
    height: 200px;
    p{
      font-size: 20px;
      margin-left: 150px;
      margin-top: 44px;
      width: 140px;
    }
  }
  .differential-main-title{
    .small-product-title{
      display: none;
    }
  }

  .differential-wrapper{
    padding: 0;
    height: 500px;
    background-image: image-url('differential-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $steligence-light;
  }

  // CATALOGO
  #catalogo{
    margin: 0;
  }

  .catalog-logo{
    width: 300px;
    margin-left: 10%;
  }

  #intro-margin{
    margin-top: 50px;
    width: 400px;
    line-height: 1.8rem;
    font-size: 16px;
    margin-left: calc(50% - 380px);
    img{
      margin-bottom: 16px;
    }
    p{
      font-size: 16px;
    }
  }

  .catalog-text-box{
    padding: 0;
    .desktop-margin{
      width: 320px;
      margin-top: 100px;
      margin-left: calc(50% - 330px);
    }
    p{
      margin: 0 4px;
      text-align: left;
    }
    .slick-dots{
      bottom: -70px;
    }
  }

  .tap-sign{
    pointer-events: none;
    text-align: right;
    position: absolute;
    left: 260px;
    top: 200px;
    color: $steligence-orange;
    font-size: 30px;
    p{
      width: 100px;
      text-align: right;
      display: inline-block;
      font-size: 16px;
    }
  }

  .icon{
    transition: 1s;
  }

  .move-icon{
    transform: translate(-15px, 0);
    transition: 1s;
  }

  .catalog-row-wrapper{
    background-image: image-url('building.png');
    background-position: 50% 50%;
  }

  .fundacao{
    background-position: 50% 50%;
  }
  .piso{
    background-position: 50% 50%;
  }
  .estrutura{
    background-position: 50% 50%;
  }
  .laje{
    background-position: 50% 50%;
  }
  .vedacao{
    background-position: 50% 50%;
  }
  .envelope{
    background-position: 50% 50%;
  }

  // DEPOIMENTOS
  #depoimentos{
    height: 487px;
  }
  .wilmotte{
    background-image: image-url('Wilmotte-JM.png');
    background-repeat: no-repeat;
    background-position: 55% 50%;
    div{
      padding: 70px;
      p{
        width: 390px;
        font-size: 24px;
      }
      .deposition-name{
        width: auto;
        font-size: 14px;
        background-color: transparent;
      }
      .deposition-title{
        width: auto;
        font-size: 12px;
        background-color: transparent;
      }
      div{
        padding: 0;
        height: 0;
      }
    }
  }

  .grohmann{
    background-image: image-url('Grohmann-M.png');
    background-repeat: no-repeat;
    background-position: 57% 50%;
    div{
     padding: 70px;
     p{
       width: 390px;
       font-size: 24px;
     }
     .deposition-name{
       width: auto;
       font-size: 14px;
       background-color: transparent;
     }
     .deposition-title{
       width: auto;
       font-size: 12px;
       background-color: transparent;
     }
     div{
       padding: 0;
       height: 0;
     }
   }
  }

  .ludkovsky{
    background-image: image-url('Ludkovsky-G.png');
    background-repeat: no-repeat;
    background-position: 54% 50%;
    div{
     padding: 70px;
     p{
       width: 390px;
       font-size: 24px;
     }
     .deposition-name{
       width: auto;
       font-size: 14px;
       background-color: transparent;
     }
     .deposition-title{
       width: auto;
       font-size: 12px;
       background-color: transparent;
     }
     div{
       padding: 0;
       height: 0;
     }
   }
  }

  // CONTATO
  .form-box{
    width: 400px;
  }

  .contact-options{
    flex-direction: row;
  }
}


@media(max-width: 426px){
  .catalog-click-layer{
    left: 16%;
  }
}

@media(max-width: 376px){
  .catalog-click-layer{
    left: 10%;
  }
}

@media(max-width: 321px){
  .catalog-click-layer{
    left: 2%;
  }
}
