<div id="footer">
  <div class="footer-logo">
    <%= image_tag 'arcelor-logo.svg', class: "logo" %>
  </div>
  <p>ArcelorMittal Brasil S.A. CNPJ/MF nº 17.469.701/0001-77 / Inscrição Estadual: 062094007.00-72</p>
  <p>Av. Carandaí, nº 1.115. Bairro Funcionários, Belo Horizonte, Estado de Minas Gerais, Brasil</p>

  <div class="footer-social">
    <%= link_to '#inicio' do %>
    <i class="fas fa-home"></i>
    <% end %>

    <%= link_to 'https://www.facebook.com/ArcelorMittalBR/' do %>
    <i class="fab fa-facebook-square"></i>
    <% end %>

    <%= link_to 'https://instagram.com/arcelormittal.longoslatam?igshid=nn98mz7v3llh' do %>
    <i class="fab fa-instagram"></i>
    <% end %>
  </div>

</div>
