<div class="catalog-dash <%= locals[:color] %>-color">
  <div class="catalog-dash-line"></div>
  <div class="catalog-dash-line"></div>
  <div class="catalog-dash-line"></div>
  <div class="catalog-dash-line"></div>
  <div class="catalog-dash-line"></div>
</div>
