<!-- INICIO BANNER PRINCIPAL -->
<div class="carousel">
  <div id="main-banner" style="background: url(<%= image_path('banner-01.png') %>); background-position: center;">
  </div>
  <div id="main-banner" style="background: url(<%= image_path('banner-02.svg') %>); background-position: center;">
  </div>
  <div id="main-banner" style="background: url(<%= image_path('banner-03.png') %>); background-position: center;">
  </div>
</div>
<!-- FIM BANNER PRINCIPAL -->

<!-- INICIO PILARES -->
<div id="pilares">

</div>
<!-- FIM PILARES -->

<!-- INICIO DIFERENCIAIS -->
<div id="diferenciais">
</div>
<!-- FIM DIFERENCIAIS -->

<!-- INICIO CATALOGO -->
<div id="catalogo">

</div>
<!-- FIM CATALOGO -->

<!-- INICIO DEPOIMENTOS -->
<div id="depoimentos">

</div>
<!-- FIM DEPOIMENTOS -->

<!-- INICIO CONTATO -->
<div id="contato">

</div>
<!-- FIM CONTATO -->
