<!-- INICIO BANNER PRINCIPAL -->
<div id="main-banner">
  <div class="carousel">
    <div>hello</div>
    <div>world</div>
  </div>
</div>
<!-- FIM BANNER PRINCIPAL -->

<!-- INICIO PILARES -->
<div id="pilares">

</div>
<!-- FIM PILARES -->

<!-- INICIO DIFERENCIAIS -->
<div id="diferenciais">
</div>
<!-- FIM DIFERENCIAIS -->

<!-- INICIO CATALOGO -->
<div id="catalogo">

</div>
<!-- FIM CATALOGO -->

<!-- INICIO DEPOIMENTOS -->
<div id="depoimentos">

</div>
<!-- FIM DEPOIMENTOS -->

<!-- INICIO CONTATO -->
<div id="contato">

</div>
<!-- FIM CONTATO -->
