<!-- INICIO BANNER PRINCIPAL -->
<div class="carousel">
  <div id="main-banner" style="background: url(<%= image_path('banner-02.svg') %>); background-position: 16% 0%;">
    <div class="product-title">
      <p class="slogan">The Intelligent construction choice</p>
      <h1>Steligence <div class="registered">®</div></h1>
    </div>
    <div class="space-line">
      <div></div>
      <div class="large-drop"></div>
      <span></span>
      <div></div>
      <span></span>
      <span></span>
      <div></div>
      <span></span>
      <span></span>
      <div></div>
    </div>
    <p class="description-text">Uma metodologia completa, com uma abordagem holística para atender às exigências da construção sustentável. Projetado para dar suporte a incorporadoras, arquitetos, engenheiros e construtoras no desenvolvimento de edificações inovadoras, rentáveis e prontas para um futuro que já começou.</p>
    <p class="description-text">Se você possui uma obra de grande porte ou de alta padronização, e está com o projeto aberto a mudanças, entre em contato conosco e entenda o que o Steligence® pode fazer por você.</p>
    <div class="button-position" >
      <p class="more-info">SAIBA MAIS</p>
    </div>
  </div>
  <div id="main-banner" style="background: url(<%= image_path('banner-03.png') %>); background-position: center;">
    <p>Precisamos adotar uma visão holística... e explorar os materiais com novos olhos, criando edifícios com módulos que se complementam e otimizando a interação entre cada componente.</p>
    <h3>Prof. Oliver Vassart</h3>
    <p>Chief Executive Officer Steligence®</p>
    <div class="button-position" >
      <p class="more-info">SAIBA MAIS</p>
    </div>
  </div>
  <div id="main-banner" style="background: url(<%= image_path('banner-01.png') %>); background-position: 80% 0%;">
    <div class="product-title space-title">
      <p class="slogan">The Intelligent construction choice</p>
      <h1>Steligence <div class="registered">®</div></h1>
    </div>
    <div class="sub-header">
      <h5>Escolha</h5>
      <h5>a construção inteligente.</h5>
      <h5>Esolha Aço.</h5>
      <h5>Escolha Steligence<div class="registered small-registered">®</div>.</h5>
    </div>
    <div class="space-line" style="padding: 0; margin-top: 16%;">
      <div class="large-drop"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <span></span>
    </div>
  </div>
</div>
<!-- FIM BANNER PRINCIPAL -->

<!-- INICIO PILARES -->
<div id="pilares">

</div>
<!-- FIM PILARES -->

<!-- INICIO DIFERENCIAIS -->
<div id="diferenciais">
</div>
<!-- FIM DIFERENCIAIS -->

<!-- INICIO CATALOGO -->
<div id="catalogo">

</div>
<!-- FIM CATALOGO -->

<!-- INICIO DEPOIMENTOS -->
<div id="depoimentos">

</div>
<!-- FIM DEPOIMENTOS -->

<!-- INICIO CONTATO -->
<div id="contato">

</div>
<!-- FIM CONTATO -->
