$footer-height: 200px;

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: white;
  color: $steligence-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  text-align: center;
  border-bottom-style: solid;
  border-color: $steligence-orange;
  border-width: 12px;
  p{
    margin: 0;
  }
}

body {
  position: relative !important;
  min-height: 100vh !important;
  padding-bottom: $footer-height !important;
}

.footer-social{
  a{
    color: $steligence-orange;
  }
  a:hover{
    text-decoration: none;
    color: $steligence-gray;
  }
  font-size: 30px;
}
