.admin-navbar {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  position: fixed;
  width: 100vw;
  background-color: rgba(60, 60, 60, 1);
  z-index: 500;
  a {
    text-decoration: none;
    font-size: 0.8em;
    font-size: 24px !important;
    padding: 0 20px;
    color: $white;
    margin-right: 20px;
  }
  a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}


.logged-navbar {
  top: 40px;
}

.logged-nav-wrapper {
  height: 120px;
  width: 100vw;
}

.navbar {
  height: 80px;
  position: fixed;
  width: 100vw;
  padding: 0 40px;
  margin: 0;
  z-index: 500;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 0.8em;
  }

  i.fa-bars::before{
    font-size: 2rem;
  }

  a.dropdown-toggle::after{
    display: none;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .logo {
    height: 46px;
    margin: 8px 60px;
    filter: brightness(10);
  }
}

.nav-wrapper {
  height: 80px;
  width: 100vw;
}


.nav-item-logo {
  flex: 0 0 auto;
}


.nav-items {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile {
  flex: 1 0 auto;
  display: flex;
  transition: all 0.3s ease;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin: 0;
  }
}

.nav-item-left {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
}

.nav-item-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.logo {
  height: 40px;
  margin: 8px 16px;
  margin-right: 16px;
}

.navbar-links {
  font-size: 18px !important;
  padding: 0 16px;
  color: $white;
}

.dropdown-toggle {
  color: white;
}


@media (max-width: 1400px) {
.nav-item-left {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.navbar-links {
  padding: 0 10px;
  margin: 0 0;
}

.navbar {
  .logo {
    height: 46px;
    margin: 0 25px;
    filter: brightness(10);
  }
}
}
